@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

nav a {
    text-align: center;
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    color: #2a2725;
    flex: 1 1 auto;
  }
nav {
    background-color: #e3e2e2;
    color: #2a2725;
    font-family: 'Raleway', 'Arial', sans-serif;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
nav a:hover {
    background-color: #a59b86;
    color: #fbf4ec;
  }
nav a:link, nav a:visited {
    color: #353632;
  }


body { 
    color: #353632;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
main {
    max-width: 1800px;
    margin: 0 auto;
}
header {
    color: #fbf4ec;
    background-color: #353632;
    padding-top: 5px;
    text-align: center;
}

.card-1 {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
h2 {
    background-color: #353632;
    color: white;
    padding: 5px;
    margin-top: auto;
    border: 1px solid black;
    border-radius: .5em .5em 0 0;
    text-align: center;
}
h3 {
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
    grid-column: 1/2;
}
.aboutmecontainer {
    background-color: #E1D6C9;
    border: 1px solid black;
    border-radius: 1em;
    grid-column: 2/10;
    grid-row: 1/11;
    margin: 15px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
.AboutMeHeader {
    grid-column: 1/6;
    grid-row: 1/2;
}
.bryn-img {
    width: 80px;
    height: 110px;
    grid-column: 5/6;
    grid-row: 2/3;
    z-index: 1;
    border: 1px solid black;
}
.card-img {
    width: 500px;
    height: 150px;
    display: block;
    border: 1px solid black;
    margin: auto;
    grid-column: 1/6;
}
.p1 {
    grid-column: 1/5;
    margin-left: 10px;
}
.p2 {
    grid-column: 1/6;
    margin-left: 10px;
}
.resourcecontainer {
    background-color: #E1D6C9;
    border: 1px solid black;
    border-radius: 1em;
    grid-column: 10/14;
    grid-row: 1/11;
    margin: 15px;
    height: 500px;
}
.sources a {
    color: black;
}
footer {
    text-align: center;
    margin-top: 80px;
    padding-top: 60px;
    height: 80px;
    background-color: #353632;
    color: white;
}








  /* Media Queries */
  @media screen and (min-width: 525px) {
  
    nav {
      display: flex;
      gap: 1rem;
    }
  
    nav a:first-child {
      display: none;
    }
  
    nav a:not(:first-child) {
      display: block;
    }
  }
  
  @media screen and (min-width: 768px) {
    .header-h1 {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  
    .card-info {
      display: flex;
      flex-direction: row-reverse;
      gap: 1rem;
    }
  
    .card-country img {
      aspect-ratio: 5/1;
      object-fit: cover;
    }
  }
  
  @media screen and (min-width: 960px) {
    main {
      grid-template-columns: 2fr 1fr;
    }
  }